body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* For Footer Positioning */
#flexBody{
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#mainBody{
  flex: 1;
}

#footer{
  min-height: 50px;
  color: aliceblue;
  padding: 15px;
}

/* For Cards */
.trading-card {
  transition-duration: 0.5s;
  cursor: pointer;
  height: 90vh;
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  /* height: auto; */
  /* width: 90vw; */
  
}
.trading-card:hover {
  transform: scale(1.05);
}